version: "3.9"

services:
  api:
    image: 835928192063.dkr.ecr.ap-southeast-1.amazonaws.com/task-runner-backend:1.0.0 
    container_name: task-runner-api
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - db
    restart: unless-stopped
    

  db:
    image: postgres:16
    container_name: task-runner-db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
